<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link rel=stylesheet type=text/css href="{{ url_for('static',
filename='style.css') }}">
  <title>My Wonderful Site</title>
</head>

<body>
  <div id="body">
    <header id="bHeader">
      <div id="menu">
        <div id="logo">
          <p>CoolBlog</p>
        </div>
        <div id="menu-conent">
          <ul id="menu-list-content">
            <li id="home">
              <a href="{{ url_for('home') }}" class="header-content">Home</a>
            </li>
            <li id="all-post">
              <a href="{{ url_for('allPosts') }}" class="header-content">All Posts</a>
            </li>
            <li id="about">
              <a href="{{ url_for('about') }}" class="header-content">About Me</a>
            </li>
            <li id="add">
              <a href="{{ url_for('add') }}" class="header-content">Write Post</a>
            </li>
          </ul>
        </div>
        <div id="user-center">
          {% if current_user.is_authenticated %}
          <span>Hello, {{ current_user.username }}!</span>
          <ul id="header-user">
            <li>
              <a href="{{ url_for('tagList') }}" class="header-content">My Tag</a>
            </li>
            <li>
              <a href="{{ url_for('logout') }}" class="header-content">Logout</a>
            </li>
          </ul>
          {% else %}
          <div>
            <p>Hello, Guest!</p>
          </div>
          <ul>
            <li>
              <a href="{{ url_for('login') }}" class="header-content">Login</a>
            </li>
            <li>
              <a href="{{ url_for('register') }}" class="header-content">Register</a>&nbsp
            </li>
          </ul>


          {% endif %}
        </div>
      </div>



      <div id="flashes">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul class=flashes>
          {% for message in messages %}
          <li>{{ message }}</li>
          {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
      </div>
    </header>
    <div class="content">
      <aside id="user-information">
        <h4>Search</h4>
        <form method="GET" action="/search">
          <div>
            <label for="quert">Name</label>
            <input type="text" name="query" id="query">
          </div>
          <button type="submit">Search</button>
        </form>
      </aside>
      <article>
        <div id="content-form">
          <!-- comments: <input type="text" placeholder="Please input some numbers"> -->
          {% block content %}
          {% endblock %}
        </div>
      </article>
      <aside id="right-aside">123</aside>
    </div>
    <footer>123</footer>
  </div>
  <!-- <button aria-label="Send heart1 reaction to the presenter!" class="m-bf m-bg m-bh m-bi m-bj m-bk m-bl m-ai m-bm m-af m-bn m-bo m-bp m-bq m-br m-m m-d m-a m-o m-e m-f m-g m-h m-i r-box"></button> -->
</body>
<script src="{{ url_for('static',filename='script.js') }}"></script>

</html>